## Cryptage de message
---

In [ ]:
pip install cryptocode

In [8]:
pip install faker

Requirement already satisfied: faker in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (24.9.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\asus\appdata\roaming\python\python311\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import cryptocode

In [3]:
str_encoded = cryptocode.encrypt("CH-1234", "wow")

str_decoded = cryptocode.decrypt(str_encoded, "wow")

print(str_encoded, "\n")
print(str_decoded)

o/TqftYshg==*lCa7Xstxo9v+7s1/VQU48w==*Rjaz3UThwhWrKLHbVwDsNQ==*nBJn0sUIJmirVbfbMfxKcg==

CH-1234

#### CREATE A LIST OF FAKE CLIENTS

In [1]:
from faker import Faker
faker = Faker(locale = "fr_FR")
fake = Faker()

print(dir(Faker))

['__annotations__', '__class__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_map_provider_method', '_select_factory', '_select_factory_choice', '_select_factory_distribution', 'cache_pattern', 'factories', 'generator_attrs', 'items', 'locales', 'optional', 'random', 'seed', 'seed_instance', 'seed_locale', 'unique', 'weights']

In [4]:
Faker.seed(42)
fake.sentence()

'Agent every development say.'

In [5]:
Faker.seed(1)
name = [faker.name() for i in range(10)]

In [6]:
name

['Roland Salmon',
 'Gilbert Lemaire',
 'Stéphanie Georges',
 'Françoise Gauthier',
 'Alix Perrier',
 'Adélaïde Grenier',
 'Juliette Mace',
 'Théodore Henry-Prévost',
 'Alain Michel',
 'Adrienne Weber-Torres']

In [7]:
import pandas as pd

In [8]:
%%time

Faker.seed(17)

fake_workers = [
    {
        "ids" : "",
        "emp_name" : faker.name(),
        "emp_address" : faker.address(),
        "emp_ciy" : faker.city(),
        "emp_email" : faker.unique.email(),
        "emp_tel" : faker.unique.phone_number(),
        "emp_status" : faker.random_element(elements = ["Active", "Terminated", "Resigned"])
    }
    for x in range(3)]

df = pd.DataFrame(fake_workers)
df["ids"] = range(0,10)

df.head(2)

ValueError: Length of values (10) does not match length of index (3)

In [ ]:
faker.

#### Masquage de données

In [10]:
def masque_number(number = 45):
    number = str(number)
    for value in range(10):
        number = number.replace(str(value), "X")
    return number
masque_number()

'XX'

In [11]:
df["emp_tel_chiffre"] = df["emp_tel"].apply(masque_number)

In [12]:
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX

#### Chiffrage de données

In [13]:
df["emp_name_chiffre"] = df["emp_name"].apply(lambda x: cryptocode.encrypt(x, "who"))

In [14]:
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre,emp_name_chiffre
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX,qXDB4UYYRjuwahY4cpl5U+j1+w==*msINB/fy+6YvgsSq9...
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX,um/sKZvm9Krf+u0kjO/nccL+p8Y2J3o=*76f1FHYcLrLRZ...

#### Pseudonomisation

In [15]:
df["emp_name_pseudo"] = df["emp_name"].apply(lambda x: faker.name())

In [16]:
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre,emp_name_chiffre,emp_name_pseudo
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX,qXDB4UYYRjuwahY4cpl5U+j1+w==*msINB/fy+6YvgsSq9...,Claire-Renée Duval
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX,um/sKZvm9Krf+u0kjO/nccL+p8Y2J3o=*76f1FHYcLrLRZ...,Georges-Franck Benoit

#### Substitution

In [ ]:
import datetime

In [25]:
df["emp_birth"] = df["ids"].apply(lambda x : faker.date_between_dates(date_start= datetime.datetime(1998, 4, 27, 7, 18, 46, 476697), date_end= datetime.datetime(2020, 4, 27, 7, 18, 46, 476697)))

In [26]:
df["emp_birth_sub"] = df["emp_birth"].apply(lambda x : faker.date_between_dates(date_start= datetime.datetime(1998, 4, 27, 7, 18, 46, 476697), date_end= datetime.datetime(2005, 4, 27, 7, 18, 46, 476697)))

#### Généralisation

In [27]:
df["emp_birth_sub"] = df["emp_birth"].apply(lambda x : x.year)

In [28]:
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre,emp_name_chiffre,emp_name_pseudo,emp_birth,emp_birth_sub
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX,qXDB4UYYRjuwahY4cpl5U+j1+w==*msINB/fy+6YvgsSq9...,Claire-Renée Duval,2005-05-25,2005
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX,um/sKZvm9Krf+u0kjO/nccL+p8Y2J3o=*76f1FHYcLrLRZ...,Georges-Franck Benoit,2010-08-30,2010

#### Randomisation

In [29]:
from random import randint

In [30]:
randint(1, 15)

14

In [31]:
df["emp_age"] = df["emp_birth"].apply(lambda x : randint(18, 38))

In [40]:
# Regrouper en classes pour l'analyse
bornes_classes = [20, 30, 40]

# Ajouter une nouvelle colonne au DataFrame avec les classes
df['emp_age_class'] = pd.cut(df['emp_age'], bins=bornes_classes, right=False)
df['emp_age_class'] = df['emp_age_class'].astype(str).replace(")", "[")

In [36]:
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre,emp_name_chiffre,emp_name_pseudo,emp_birth,emp_birth_sub,emp_age,emp_age_class
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX,qXDB4UYYRjuwahY4cpl5U+j1+w==*msINB/fy+6YvgsSq9...,Claire-Renée Duval,2005-05-25,2005,22,"[20, 30)"
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX,um/sKZvm9Krf+u0kjO/nccL+p8Y2J3o=*76f1FHYcLrLRZ...,Georges-Franck Benoit,2010-08-30,2010,37,"[30, 40)"

#### Suppression

In [43]:
df["emp_address_copy"] = df["emp_address"]
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre,emp_name_chiffre,emp_name_pseudo,emp_birth,emp_birth_sub,emp_age,emp_age_class,emp_address_copy
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX,qXDB4UYYRjuwahY4cpl5U+j1+w==*msINB/fy+6YvgsSq9...,Claire-Renée Duval,2005-05-25,2005,22,"[20, 30)","141, avenue Letellier\n53358 Prévostnec"
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX,um/sKZvm9Krf+u0kjO/nccL+p8Y2J3o=*76f1FHYcLrLRZ...,Georges-Franck Benoit,2010-08-30,2010,37,"[30, 40)","70, boulevard Bernard Chrétien\n94463 Sainte Alix"

In [44]:
df.drop(columns= ["emp_address_copy"], inplace = True)
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre,emp_name_chiffre,emp_name_pseudo,emp_birth,emp_birth_sub,emp_age,emp_age_class
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX,qXDB4UYYRjuwahY4cpl5U+j1+w==*msINB/fy+6YvgsSq9...,Claire-Renée Duval,2005-05-25,2005,22,"[20, 30)"
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX,um/sKZvm9Krf+u0kjO/nccL+p8Y2J3o=*76f1FHYcLrLRZ...,Georges-Franck Benoit,2010-08-30,2010,37,"[30, 40)"

#### Hachage

In [45]:
import hashlib

In [52]:
def hashage(texte):
    md5_hash = hashlib.md5(b"Hello World")
    md5_hash.update()
    return md5_hash.digest()

In [55]:
df["emp_name_hash"] = df["emp_name"].apply(hashage)

AttributeError: 'bytes' object has no attribute 'format'

In [48]:
df.head(2)

,ids,emp_name,emp_address,emp_ciy,emp_email,emp_tel,emp_status,emp_tel_chiffre,emp_name_chiffre,emp_name_pseudo,emp_birth,emp_birth_sub,emp_age,emp_age_class,emp_name_hash
0,0,Patricia Le Poulain,"141, avenue Letellier\n53358 Prévostnec",Courtois,jolysylvie@example.org,+33 3 61 58 11 46,Active,+XX X XX XX XX XX,qXDB4UYYRjuwahY4cpl5U+j1+w==*msINB/fy+6YvgsSq9...,Claire-Renée Duval,2005-05-25,2005,22,"[20, 30)",b'\xb1\n\x8d\xb1d\xe0uA\x05\xb7\xa9\x9b\xe7.?\...
1,1,Thérèse de la Normand,"70, boulevard Bernard Chrétien\n94463 Sainte Alix",Becker-sur-Thomas,hdupuis@example.net,+33 3 84 85 04 14,Active,+XX X XX XX XX XX,um/sKZvm9Krf+u0kjO/nccL+p8Y2J3o=*76f1FHYcLrLRZ...,Georges-Franck Benoit,2010-08-30,2010,37,"[30, 40)",b'\xb1\n\x8d\xb1d\xe0uA\x05\xb7\xa9\x9b\xe7.?\...

In [ ]:
help(md5_hash.digest())

~[@Jean 3:16]~#*!#*!

In [2]:
import spacy

In [8]:
pip -m spacy download fr_core_news_sm

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "spacy"

In [7]:
# Charger le modèle français
nlp = spacy.load('fr_core_news_sm')

# Texte à analyser
texte = "Marie et Pierre Curie ont travaillé sur la radioactivité à Paris."

# Traiter le texte
doc = nlp(texte)

# Afficher les entités nommées
for ent in doc.ents:
    if ent.label_ == "PER":
        print(ent.text)

OSError: [E050] Can't find model 'fr_core_news_sm'. It doesn't seem to be a Python package or a valid path to a data directory.